<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>RandomImage</display-name>
  <servlet>
	  <servlet-name>RandomImage</servlet-name>
	  <servlet-class>kronquist.RandomImage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RandomImage</servlet-name>
  	<url-pattern>/random</url-pattern>
  </servlet-mapping>
</web-app>
